.contacts {
  @include font-regular;
  background-color: $color-white;
}

.contacts--grey {
  background-color: $bg-grey;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 8px;
}

.contacts__title {
  width: 125px;
  font-size: $base-fz;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 18px;
}

.contacts__address {
  width: 140px;
  font-family: $font-Arial;
  font-size: $fz-14;
  line-height: 20px;
  color: $color-dark-grey;
}
