.copyright {
  @include font-regular;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__owner {
  font-family: $font-Arial;
  font-size: $base-fz;
  line-height: 16px;
  color: $color-dark-grey;
}

.copyright__link img {
  width: 27px;
  height: 34px;
}
