.page-header {
  background-color: $bg-white;
}

.page-header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__title {
  @include visually-hidden;
}

.burger {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

@media (min-width: 768px) {
  .page-header-row {
    justify-content: normal;
  }
}
