.products {
  @include font-regular;
  color: $color-black;
}

.products__item {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: -1px;
}

.products__title {
  @include font-regular;
  font-size: 36px;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: row;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
}

.product-card__more {
  text-decoration: none;
}

.product-card__title {
  @include font-regular;
  font-size: $base-fz;
  color: $color-black;
  text-transform: uppercase;
  line-height: 20px;
  width: 75px;
  margin-top: 20px;
  margin-bottom: 13px;
}

.product-card__prop-list {
  @include ff-arial-regular;
  font-size: $fz-12;
  line-height: 16px;
  width: 140px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.product-card__prop-item {
  display: flex;
  justify-content: space-between;
}

.product-card__prop-value {
  margin: 0;
}

.product-card__btn {
  display: block;
  color: $color-white;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -2px;
  padding-top: 10px;
}
