.program {
  @include font-regular;
}

.program__wrap {
  width: 240px;
  margin: 0 auto;
  padding-top: 22px;
}

.program__item {
  background-color: $bg-grey;
  margin-bottom: 17px;
}

.title-wrap {
  display: flex;
  margin-bottom: 22px;
}

.program-entry__icon {
  height: 50px;
  width: 50px;
  background: $bg-green;
  border-radius: 50%;
  margin-left: 3px;
  margin-top: 3px;
}

.program-entry__icon--slim img {
  margin-left: 8px;
  margin-top: -2px;
}

.program-entry__icon--pro img {
  margin-left: -10px;
  margin-top: 12px;
}

.program-entry__title {
  color: $color-black;
  font-size: $fz-24;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-left: 19px;
  margin-top: 9px;
}

.program-entry__descr {
  @include ff-arial-regular;
  color: $color-dark-grey;
  font-size: $fz-14;
  line-height: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.program-entry__btn {
  display: block;
  text-transform: uppercase;
  color: $color-black;
  line-height: 16px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 22px;
}

.program-entry__btn::after {
  content: url("../../img/icon-right-arrow-long.svg");
  width: 25px;
  height: 12px;
  display: inline-block;
  margin-left: 12px;
}

@media (min-width: 768px) {
  .program__wrap {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 40px;
  }

  .program__item {
    margin-bottom: 30px;
  }

  .title-wrap {
    display: flex;
    position: relative;
  }

  .program-entry__icon {
    position: absolute;
    right: 60px;
    top: 49px;
    width: 200px;
    height: 200px;
    margin: 0;
  }

  .program-entry__icon--slim img {
    width: 141px;
    height: 194px;
    margin-left: 30px;
    margin-top: -12px;
  }

  .program-entry__icon--pro img {
    width: 268px;
    height: 113px;
    margin-left: -35px;
    margin-top: 41px;
  }

  .program-entry__title {
    font-size: $fz-36;
    line-height: 37px;
    margin-top: 33px;
    margin-left: 54px;
  }

  .program-entry__descr {
    font-size: $base-fz;
    line-height: 24px;
    width: 375px;
    margin-top: 2px;
    margin-left: 54px;
  }

  .program-entry__descr--pro {
    width: 340px;
  }

  .program-entry__btn {
    font-size: $fz-20;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 54px;
  }
}
