.stock {
  @include font-regular;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 289px;
  text-align: center;
  margin-bottom: 35px;
}

.stock__descr {
  width: 163px;
  padding-top: 58px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.icon-gift {
  width: 56px;
  height: 61px;
  margin-top: 63px;
}
