$bg-white: #ffffff;
$bg-grey: #f2f2f2;
$bg-green: #68b738;
$font-fam: "Oswald";
$font-Arial: "Arial";
$color-black: #111111;
$color-dark-grey: #444444;
$color-white: #ffffff;
$border-grey: #cdcdcd;
$base-fz: 16px;
$fz-12: 12px;
$fz-14: 14px;
$fz-20: 20px;
$fz-18: 18px;
$fz-24: 24px;
$fz-36: 36px;
$fz-60: 60px;
